<?xml version="1.0" encoding="UTF-8" ?>
<web-app>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>
                contextConfigLocation
            </param-name>
            <param-value>
                /WEB-INF/spring-configuration.xml   <!-- if you want to add spring security configuration just place comman and location of spring -->
            </param-value>
        </init-param>
    </servlet>
    <servlet-mapping>   <!-- start dispatcher servlet -->
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>